:root {
  color-scheme: light;
}

body {
  margin: 0;
  hyphens: auto;
  overflow-wrap: break-word;
}

.om-zahl {
  font-variant-numeric: tabular-nums;
  text-align: right;
  white-space: nowrap;
}

.om-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
